
@import url('https://fonts.googleapis.com/css?family=Numans');

body{
	/*background-color: #636363;*/
	/*background-color: white;*/
	background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
 	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	font-family: 'Numans', sans-serif;
	margin-bottom: 50px;
}

.section
{
	margin-bottom: 50px;
}

.modal-backdrop.show
{
	opacity: 0!important;
}

.valuesIDWidth
{
	width: 5%!important;
}

.valuesTimeWidth
{
	width: 16%!important;
}

.valuesTaskWidth
{
	width: 65%!important;
}

.valueActionWidth
{
	width: 14%!important;
}


footer
{
	position: fixed;
	margin-top: 40px;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


.table-wrapper {
	margin: 30px;
	background: #fff;
	padding: 20px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
	padding-bottom: 10px;
	margin: 0 0 10px;
}

.table-title h2 {
	margin: 6px 0 0;
	font-size: 22px;
}
.table-title .add-new {
	float: right;
	height: 30px;
	font-weight: bold;
	font-size: 12px;
	text-shadow: none;
	min-width: 100px;
	border-radius: 50px;
	line-height: 13px;
}
.table-title .add-new i {
	margin-right: 4px;
}
/*table.table {*/
/*	table-layout: fixed;*/
/*}*/

table.table td {
		white-space: normal !important;
		word-break: break-word;
}


table.table tr th, table.table tr td {
	border-color: #e9e9e9;
}
table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}
table.table th:last-child {
	width: 100px;
}
table.table td a {
	cursor: pointer;
	display: inline-block;
	margin: 0 5px;
	min-width: 24px;
}
table.table td a.add {
	color: #27C46B;
}
table.table td a.edit {
	color: #FFC107;
}
table.table td a.delete {
	color: #E34724;
}
table.table td i {
	font-size: 19px;
}
table.table td a.add i {
	font-size: 24px;
	margin-right: -1px;
	position: relative;
	top: 3px;
}
table.table .form-control {
	height: 32px;
	line-height: 32px;
	box-shadow: none;
	border-radius: 2px;
}
table.table .form-control.error {
	border-color: #f50000;
}
table.table td .add {
	display: none;
}

/*td {*/
/*	white-space: normal !important;*/
/*}*/

.container{
	height: 100%;
	align-content: center !important;
}


.card{
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
}

.social_icon span:hover{
	color: white;
	cursor: pointer;
}

.card-header h3{
	color: white;
}

.social_icon{
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-prepend span{
	width: 50px;
	background-color: #FFC312;
	color: black;
	border:0 !important;
}

input:focus{
	box-shadow: 0 0 0 0 !important;
}

.remember{
	color: white;
}

.remember input
{
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn{
	color: black;
	background-color: #FFC312;
	width: 100px;
}

.login_btn:hover{
	color: black;
	background-color: white;
}

.links{
	color: white;
}

.links a{
	margin-left: 4px;
}

.navbar
{
	min-height: 57px;
}

.modal-backdrop {
	position: relative !important;
}

.closeButton
{
	margin-top: 1px;
	margin-right: 2px;
	position:absolute;
	top:0;
	right:0;
}

#userCancel
{
	display: inline-block;
}

#message {
	display:none;
	background: #f1f1f1;
	color: #000;
	position: relative;
	padding: 20px;
	margin-top: 10px;
}

#message h6 {
	margin-left: 20px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
	color: green;
}

.valid:before {
	position: relative;
	left: -35px;
	content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
	color: red;
}

.invalid:before {
	position: relative;
	left: -35px;
	content: "&#10006;";
}

#messageEdit {
	display:none;
	background: #f1f1f1;
	color: #000;
	position: relative;
	padding: 20px;
	margin-top: 10px;
}

#messageEdit h6 {
	margin-left: 20px;
}

.iPosition {
	position: absolute;
	top: 58px;
	right: 20px;
}

.iPositionpass
{
	position: absolute;
	top: 167px;
	right: 20px;
}

.form-group.success input {
	border-color: #2ecc71;
}

.form-group.error input {
	border-color: #e74c3c;
}

.form-group.success i.fa-check-circle {
	visibility: visible;
	color: #2ecc71;
}

.form-group.success i.fa-exclamation-circle {
	visibility: visible;
	color: #e74c3c;
}

.form-group small{
	visibility: hidden;
}

.form-group.success small {
	visibility: visible;
	color: #2ecc71;
}

.form-group.success small {
	visibility: visible;
	color: #e74c3c;
}







